<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project">
        <activity
            android:name=".addFactors"
            android:exported="true" />

        <activity
            android:name=".ToMemorize"
            android:exported="true" />
        <activity
            android:name=".coloursPg"
            android:exported="true" />
        <activity
            android:name=".animalsPg"
            android:exported="true" />
        <activity
            android:name=".ImageUI"
            android:exported="true"/>

        <activity android:name=".Calculation1"></activity>
        <activity android:name=".Calculation2" />
        <activity android:name=".Numbers2" />
        <activity android:name=".Numbers1" />
        <activity android:name=".MathsMain" />
        <activity android:name=".Main_UI" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DisplayData" />
        <activity android:name=".MainActivity"/>

    </application>

</manifest>